/* src/components/Grid.css */
.grid-container {
  display: grid;
  grid-template-rows: auto repeat(3, 1fr); /* Adjust based on your rows */
  grid-template-columns: auto repeat(3, 1fr); /* Adjust based on your columns */
  gap: 10px;
}

.grid-header-row {
  display: contents;
}

.grid-header-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  font-size: 14px;
}

.grid-header-cell img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.grid-row {
  display: contents;
}

.grid-cell {
  background-color: #2c2f33;
  color: #ffffff;
  border: 1px solid #4e5d6c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.grid-cell.correct {
  background-color: #00ff00;
}

.grid-cell img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

  .grid-cell-input {
    background-color: #2c2f33;
    color: #ffffff;
    border: 1px solid #4e5d6c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Add this line to center the content horizontally */
    vertical-align: middle; /* Add this line to center the content vertically */
  }
}